body{
  box-sizing: border-box;
  background-color: #931C07;
}

h1{
  text-align: center;
  color:black;
  border-bottom: blue;
  font-weight: bold;
  background-color: ;
}
h6{
  font-style: italic;
}
.container{
  color:#fff;
  margin-left: 100px;

  background-repeat: no-repeat;
  background-size:contain;
}

#mathgame{
  max-width: 400px;
  position: relative;
  margin: auto;
  border-bottom-width: thick;
  width: 300px;
    height: 220px;
    border: 1px solid #931C07;
    box-sizing: border-box;
overflow: hidden;
}
.btn{
  transition: 1.0s ease;
}
#play{
  background-image: url("../img/good.jpeg");
  box-sizing: border-box;
}
#quote{
  width: 20%
    height: 100px;
    border: 1px solid #931C07;
    box-sizing: border-box;
    font-family: 'Niconne', cursive;
  text-align: center;
  padding: 10px;
  background-image: url("../img/quote.jpeg");
  color: #fff;
  font-size: 25px;
}
#slideshow{
  background-color: #1C2833;
  padding-bottom: 20px;
}
#slideshow h1{
    color:#fff;
}
#bubblegame img{
  padding-bottom: 20px;
}
span{
  font-family: 'Abril Fatface', cursive;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #17202A;
  box-sizing: border-box;
  border-width: 400px;
}
#pingpong{
  background-image: url("../img/bg.jpg");
  background-size: contain;
  margin-right: 5px;
  padding-right: 50px;
  padding-left: 50px;
}
strong{
  font-family: 'Chonburi', cursive;
  text-align: center;
}
#pingpong h6{

font-family: 'Tangerine', cursive;
font-size: 40px;
color: red;
font-weight: 600;
}
#pingpong h5{
  color:#17202A ;
  font-weight: 600;
}
#pong li{
  font-family: 'Chonburi', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Merienda', cursive;
}
#pong{
  background-image: url("https://beam.pro/_latest/assets/img/backgrounds/generic-001.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 50px;
  padding-left: 50px
  color: #fff;
}
.start{
  background-color:#B3B6B7;
  box-sizing: border-box;
  border: 2px solid black;
  margin-bottom: 40px;
}
.school img{
  float:right;
  padding-right: 30px;
  height: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
}
.bag{
  padding-left: 30px;
  margin-bottom: 0px;
}
#pong{

}
