h1{
  text-align: center;
  color:black;
  border-bottom: blue;
  font-weight: bold;
  background-color: ;
}
h6{
  font-style: italic;
}
.container{
  color:#fff;
  margin-left: 100px;

  background-repeat: no-repeat;
  background-size:contain;
}
body{
  height:600px;
  /*background-color:#F6572D;*/
  box-sizing: border-box;
}
#slideshow{
  display: ;
}
#mathgame{
  max-width: 400px;
  position: relative;
  margin: auto;
  border-bottom-width: thick;
  width: 300px;
    height: 220px;
    border: 1px solid blue;
    box-sizing: border-box;
overflow: hidden;
}
.btn{
  transition: 1.0s ease;
}
#play{
  background-image: url("../img/good.jpeg");
  box-sizing: border-box;
}
#quote{
  width: 20%
    height: 100px;
    border: 1px solid blue;
    box-sizing: border-box;
    font-family: 'Niconne', cursive;
  text-align: center;
  padding: 10px;
  background-image: url("../img/quote.jpeg");
  color: #fff;
  font-size: 25px;
}
#slideshow{
  background-color: red;
  padding-bottom: 20px;
}
#slideshow h1{
    color:#fff;
}
#bubblegame img{
  padding-bottom: 20px;
}
