h1{
  text-align: center;
  color:black;
  border-bottom: blue;
  font-weight: bold;
}
h6{
  font-style: italic;
}
.container{
  color:black;
  margin-left: 100px;
}
body{
  background-image: url("../img/pingpongbg.jpeg");
  background-size: cover;
  height:600px;
  background-repeat: no-repeat;
}
.slideshow{
  display: none;
}
