h1{
  text-align: center;
  color:black;
  border-bottom: blue;
  font-weight: bold;
}
h6{
  font-style: italic;
}
.container{
  color:black;
  margin-left: 100px;
}
body{
  background-size: cover;
  height:600px;
  background-repeat: no-repeat;
}
.slideshow{
  display: none;
}
#mathgame{
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.btn{
  transition: 1.0s ease;
}
.slideshow-container{
  border-bottom-color:blue;
  border
}
