h1{
  text-align: center;
  color:black;
  border-bottom: blue;
  font-weight: bold;
  background-color: ;
}
h6{
  font-style: italic;
}
.container{
  color:#fff;
  margin-left: 100px;

  background-repeat: no-repeat;
  background-size:contain;
}
body{
  height:600px;
  /*background-color:#F6572D;*/
  box-sizing: border-box;
  background-color: #931C07;
}
#mathgame{
  max-width: 400px;
  position: relative;
  margin: auto;
  border-bottom-width: thick;
  width: 300px;
    height: 220px;
    border: 1px solid #931C07;
    box-sizing: border-box;
overflow: hidden;
}
.btn{
  transition: 1.0s ease;
}
#play{
  background-image: url("../img/good.jpeg");
  box-sizing: border-box;
}
#quote{
  width: 20%
    height: 100px;
    border: 1px solid #931C07;
    box-sizing: border-box;
    font-family: 'Niconne', cursive;
  text-align: center;
  padding: 10px;
  background-image: url("../img/quote.jpeg");
  color: #fff;
  font-size: 25px;
}
#slideshow{
  background-color: #1C2833;
  padding-bottom: 20px;
}
#slideshow h1{
    color:#fff;
}
#bubblegame img{
  padding-bottom: 20px;
}
span{
  font-family: 'Abril Fatface', cursive;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
#play h1{

}
#pingpong{
  background-image: url("http://www.nuitsunplugged.com/pic/26-Cute-Beach-Style-Kid39s-Bedroom-Design-Ideas.jpg");
  background-size: contain;
  margin-right: 25px;
  padding-right: 50px;
  padding-left: 50px;
}
strong{
  font-family: 'Chonburi', cursive;
}
#pingpong h6{

font-family: 'Tangerine', cursive;
font-size: 40px;
color: red;
font-weight: 600;
}
